* {
  box-sizing: border-box;
}

table {
  margin: 1rem auto;
  border-spacing: 0;
  font-size: 3rem;

  tr:first-child td {
    border-top: solid black 3px;
  }

  tr:nth-child(3n) td {
    border-bottom: solid black 2px;
  }

  td {
    height: 5rem;
    width: 5rem;
    border: 1px solid grey;
  }
  td:first-child {
    border-left: solid black 3px;
  }
  td:nth-child(3n) {
    border-right: solid black 2px;
  }

  input {
    padding: 0;
    text-align: center;
    border: 0;
    height: 100%;
    width: 100%;
  }
  input:hover {
    background: #ffffff;
  }
  input[type="text"] {
    font-size: 3rem;
  }
}

.table {
  margin: 3rem auto;
  text-align: center;
}
.button-29 {
  margin-top: 3rem;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
